{% extends "base.html" %}

{% block content %}
<div class="mb-5 mb-lg-0 text-center text-lg-start">
<h1 class="display-4 mt-3 lh-5 mb-3">{{ title }}</h1>
<div class="alert alert-info" role="alert">
  done by J A <a href="/about">https://github.com/ang-jason/Loan-Calculator</a>
</div>
</br>
<div class="lead fw-normal">
<div class="card border-primary mb-3">
	<h5 class="card-header">This Loan Calculator (singaporean context) for the capstone final project to Fundamentals in Python (Intermediate).</h5>
<div class="card-body">
    <!-- <h5 class="card-title">This Loan Calculator (singaporean context) for the capstone final project to Fundamentals in Python (Intermediate).</h5> -->
    <p class="card-text h5">The purpose of this final project is for you to apply what you have learnt in this course. To make your learning meaningful it is important that you write the code on your own and try to explore and apply as many concepts as you have learned in doing this project. You have the option to choose among the following categories:</p>
  </div>
    <!-- <div class="card-footer text-muted"> -->
    <!-- 2 days ago -->
  <!-- </div> -->
</div>

<p>....</p>
<div class="display-5 lh-1 mb-4">Open-Ended Utility / Productivity Program</div>
This is an open-ended category. This means that you are free to do any kind of software you would like to build under the category of utility or productivity. Some examples of this software are those that make your life or day-to-day tasks easier or more productive. 

<div class="font-alt"></br>
Some examples are (but not limited to only these):



</div>

<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Note Taking Software</div>
      You can write a web-based note taking software where you can quickly save short text for you to take note or recall. You can save these texts and search the text using some keyword. You can add features like reminder and make it into a to-do list software.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Quick Calculator Software</div>
      You may tend to do some specific calculation again and again. As an example, it can be your financial calculator for investment or retirement savings. You can write a Python program to do these tasks.
    </div>
    <span class="badge bg-primary rounded-pill">8</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Family Tree Software</div>
      You can create a software to store information on your family tree. This can be useful when someone in your family wants to retrieve information related to this. You can let the user to add or edit information, search for a name and retrieve the relationship of this person, or browser through the family tree to find out the different names and people in the family.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Conversion Software</div>
      You can create some software to convert data from one format to another. For example, you can download your Bank account or credit card statements in CSV or PDF and format or filter it for your own use like automatically categorizing your expenses and income.
    </div>
    <span class="badge bg-primary rounded-pill"></span>
  </li>
</ol>
...and many others
</br>
</br>
<p>
In choosing this category you need to explain the following:
</p>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
Why do you choose to write this software?  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
Make sure the reason is meaningful and not just for the sake of this assignment.</li>
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
Where do you get your inspiration? You don't need to be original. You may have used some of the software in your web applications or desktop, and you can write a simplified text-based version of it.</li>
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
How do you design your software using object-oriented? How do you modularize your code?</li>
  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
What kind of data structures do you use and why?</li>
</div>
</div>
</div>
{% endblock %}