{% extends "base.html" %}

{% from "_render_field.html" import render_field %}
<!-- https://john.soban.ski/pass-bootstrap-html-attributes-to-flask-wtforms.html -->
<!-- https://github.com/PrettyPrinted/youtube_video_code/blob/master/2017/05/05/Flask-WTF%20-%20Converting%20a%20Bootstrap%20Template%20(5%20of%205)/flaskwtf_example/templates/form.html -->



{% block content %}
    <head>
        <title>{{title}}</title>
        <!-- <script type="module">import * as library from './static/__target__/library.js'; window.library = library;</script> -->
    </head>
	
        <h2 class="display-4 mt-3 lh-5 mb-3">Welcome to {{title}}</h1>
        <p>This Mortgage App is an approxiate estimatation of your Mortgage.
        It illustrate and aid comprehension of the true cost of a mortgage.</p>
			
        
    <form action="" method="post" >
        {{ form.hidden_tag() }}
        <p>
		<div class="mb-3">
            <!-- <label class="form-label">Loan Amount ($)</label> -->
			<div class="col-sm-7">
			<!-- <input class="form-control" type="text" id="loanAmount" value="440248"> -->
			{{ render_field(form.loan_amount, placeholder='440248') }}
			</div>
		</div>
        </p>
        <p>
		<div class="mb-3">
            <!-- <label class="form-label">Interest Rate(s) %</label> -->
			<div class="col-sm-7">
			<!-- <input class="form-control" type="text" id="interestRate" value="2.6"> -->
			{{ render_field(form.interest_rate, placeholder='2.6 or 1.39,1.48') }}
			</div>
			</div>
        </p>
        <p>
		<div class="mb-3">
            <!-- <label class="form-label">Terms Period (Year)</label> -->
			<div class="col-sm-7">
			<!-- <input class="form-control" type="text" id="termPeriod" value="30"> -->
			{{ render_field(form.term_periods, placeholder="") }}
			</div>
			</div>
        </p>
        <p>
		<div class="mb-3">
            <!-- <label class="form-label">Loan Tenor (Years)</label> -->
			<div class="col-sm-7">
			<!-- <input class="form-control" type="text" id="loanTenor" value="30"> -->
			{{ render_field(form.loan_tenor, placeholder='30') }}
			</div>
			</div>
        </p>
        <p>		
		<div class="mb-3">
            <!-- <div id="sorted">...</div> -->
			<div class="col-sm-7">
            <button class="btn btn-outline-primary rounded-pill" onclick="form.submit()">Show Schedule</button>
			</div>
		</div>
        </p>
	</form>
{% endblock %}